@import '~vux/src/styles/reset.less';
@import "//at.alicdn.com/t/font_820894_wwcn7q3wb7j.css";

body,html {
  height: 100%;
  margin: 0;
}

.app {
  .weui-btn {
    font-size: .453333rem;
  }
  .vux-label {
    font-size: .426667rem;
  }


  .weui-cell {
    padding-top: 0;
    padding-bottom: 0;
  }

  .weui-cell_select .weui-select {
    padding-right: .533333rem;
  }

  .weui-cell_access .weui-cell__ft{
    padding-right: .466667rem;
    text-align: left;
  }

  .weui-cell_access p {
    width: 105px;
    text-align: left;
  }
  .weui-toast__content {
    color: #fff !important;
  }
  .weui-cell__ft {
    i {
      font-size: .426667rem;
    }
  }
  .weui-cell_select .weui-cell__bd:after {
    right: 0.42rem;
  }
  //.scroller-item {
  //  font-size: 32px;
  //  height: 40px;
  //  line-height: 40px;
  //}

}


.page-register {
  background-color: #fff;
  height: 100%;
  &__content {
    padding: 0 .333333rem 1.333333rem .333333rem;
    position: absolute;
    top: 1.333333rem;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;

    h5 {
      text-align: center;
      margin: 0;
      padding-top: .666667rem;
      font-size: .506667rem;
      font-weight: 400;
    }

    p {
      text-align: center;
      margin: 0;
      padding-bottom: 0;
      font-size: .32rem;
      color: #666;
    }

    .weui-cell{
      height: 1.333333rem;
      font-size: .4rem;
      p {
        color: #000;
        font-size: .4rem;
      }
    }


    .weui-btn {
      height: 1.2rem;
      margin-top: .6rem;
    }

  }
}
